body {
    font-size: large;  
    font-family: 'Ubuntu', sans-serif;
    color: #275786;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 40px auto;
    max-width: 1060px; 
    min-width: 1060px; 
    min-height: 650px;
    overflow: auto;
}

#leftSection {
    float: left;
    margin-right: 20px;
    min-width: 330px; 
    max-width: 330px; 
    text-align: right;
}

#upperSection, #rightSection {
    float: right;
    margin: 0px;
    max-width: 700px;
    min-width: 700px;
    border-bottom-style: solid;
    border-bottom-width: 1.8px;
    border-right-style: solid;
    border-right-width: 1.9px;
    border-radius: 10px;
}

#upperSection {
    min-height: 378px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border-bottom-color: #ebebeb;
    border-right-color: #ebebeb;
}

#rightSection {
    background-color: #fcfcfc;
    border-bottom-color: #ebebeb;
    border-right-color: #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
}

#tabContent {
    margin: 0px 10px;
    padding: 0px;
}

#name {
    margin: 0px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #275786;
    text-align: right;
}

footer {
    height: 200px;
    color: #fff;
    background-color: #275786; 
    clear: both;
    padding: 50px;
}


/* ------------------------------------------------------------------------------------------------- */

#cvPhoto {
    margin: 0px; 
    padding: 0px;
    border-radius: 10px;
}


/* Navigation panel Formatting ------------------------------------------------------------------------------------------------- */
nav {
    display: inline-block;
}

nav ul {
    width: 180px;
    background-color: #d3e6f7;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #b1c4db;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: #b1c4db;
    border-radius: 10px;
}

nav ul li {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: inherit;
    pointer-events: none;
    cursor: default;
}

.currentSelectionStyle {
    color: #fff;
    background-color: #b0d0f2;
    border-top-style: solid;
    border-top-width: 1.5px;
    border-top-color: #9bb8d9;
}

.currentSelectionCurvedCornersUp {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.currentSelectionCurvedCornersDown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Headers Formatting ------------------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif; 
}

h1 {
    margin-top: 0px;
    font-size: 2em;
    text-align: center;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
}


/* Table Formatting ------------------------------------------------------------------------------------------------- */
table {
    text-align: left;
}

footer table {
    margin: auto;
}

td {
    vertical-align: top; 
}

th {
    vertical-align: top; 
    padding-right: 10px;
}


/* List Formatting ------------------------------------------------------------------------------------------------- */
 ul {
    padding: 0px;
}

ul li {
    list-style-type: none;
}


/* Tab Content Formatting ------------------------------------------------------------------------------------------------- */
#tabContent li {
    margin-top: 5px;
}

#languageSkillsList li {
    display: inline-block;
    margin-right: 15px;
}

#tabContent h1 span {
    display: block;
    line-height: 1.5em;
    font-size: 0.7em;
    font-weight: normal;
}
